* {
	box-sizing: border-box;
}

// navigation

nav {
	overflow: hidden;
	padding: 1em 2em;

	> a {
		display: block;
	}
	
	img {
		float: left;
		width: 10em;
	}
	
	ul {
		float: left;
		list-style: none;

		li {
			display: inline-block;
			padding: 0 0.25em;
		}

		 a {
			color: #888;
			text-decoration: none;
		}
	}
}

// header

header {
	background: url(https://images.unsplash.com/2/05.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=90830a269ceb1732100847d54641d9ad) 0 0 no-repeat;
	padding: 15% 0;

	h1 {
		color: #fff;
		font-size: 2.3em;
		font-weight: normal;
		text-shadow: 2px 2px #000;
		text-align: center;
	}
}

// main

main {
	margin: 0 auto;
	width: 95%;

	section {
		padding: 1em;
	}
}

// pricing

.pricing {

	.p1 {background: #519251;}

	.p2 {background: #2C4985;}

	.p3 {background: #000;}

	.p1,
	.p2,
	.p3 {
		color: #fff;
		padding: 2em 0;
		text-align: center;
		
		.plan {
			font-size: 1em;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		.price {
			font-size: 6em;
			font-weight: 300;
		}
		.term {
			color: rgba(255, 255, 255, 0.5);
			font-size: 1.2em;
			text-transform: uppercase;
		}

	}
	article > ul {
		background: #F1F1F1;
		list-style: none;
		padding: 0 1em;
		border: 0.5px solid #d9d9d9;

		li {
			border-bottom: 0.5px solid #d9d9d9;
			color: #5B686E;
			margin: 0 -1em;
			padding: 1em;
			text-align: center;

			&:last-child {
				background: #fff;
				border-bottom: none;
				padding: 2em 0;
			}

			a {
				border: 1px solid #d9d9d9;
				border-radius: 4em;
				color: #000;
				font-weight: bold;
				padding: 0.5em 1em;
				text-decoration: none;
			}
		}
	}
}

// features

.features {
	h2 {
		font-size: 1.25em;
		font-weight: 500;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	p {
		line-height: 1.6em;
	}
}

// footer

footer {
	background: #000;
	color: #888888;
	padding: 2em 3em;
	text-align: center;

	a {
		color: #fff;
	}
}

// contact

header.contact {
	background: #2E4A83;
}

// Responsive Styles

@media (min-width: 479px) {
	header h1 {
		font-size: 3em;
	}
}

@media (min-width: 767px) {
	
	header {

		h1 {
			font-size: 3em;
		}
	}

	main {
		margin: 0 auto;
		width: 90%;
	}

	.pricing article {
		display: inline-block;
		vertical-align: top;
		margin: 0.5em;
		width: 30%;
	}

	.features article {
		display: inline-block;
		padding: 1.5em;
		vertical-align: top;
		width: 50%;
	}
}

@media (min-width: 979px) {
	nav ul li a:hover {
		color: #000;
	}

	header {
		padding: 8% 0;
	}
	
	main {
		margin: 0 auto;
		width: 62em;
	}

	.pricing article {
		width: 31.3%;

		a:hover {
			background: #F1F1F1;
		}
	}

	footer a:hover {
		text-decoration: none;
	}
}












